<div class="container-fluid bg-gris1 p-t-40 p-b-40">
	<div class="container resumen">
		<div class="row">
			<mat-form-field class="col-3  m-t-30  m-b-30">
				<mat-label>
					Sector
				</mat-label>
				<mat-select  [(ngModel)]="ram" (selectionChange)="rama()">
					<mat-option  [value]='sector.IDNivel1' *ngFor="let sector of sectores">
						{{sector.Giro}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field class="col-3  m-t-30  m-b-30">
					<mat-label>
						Rama
					</mat-label>
					<mat-select  [(ngModel)]="ramita" (selectionChange)="ngOnInit()">
							<mat-option  [value]='ramas.IDNivel2' *ngFor="let ramas of ramas">
								{{ramas.Giro}}
							</mat-option>
						</mat-select>
				</mat-form-field>
			<div class="col-6 text-right m-t-30  m-b-30">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button (click)="cambiar('A')" type="button" class="btn {{fecha_riesgo==='A'?'btn-primary':'btn-inactivo'}}">12 Meses</button>
					<button (click)="cambiar('M')" type="button" class="btn {{fecha_riesgo==='M'?'btn-primary':'btn-inactivo'}} ">Mes Actual</button>
					
				</div>	
			</div>
			<div class="col-12">
				<div class="card contenedor">
					<div class="card-header  container text-center text-white bg-primary">
						<div class="row">
							<div class="col-12 text-uppercase text-monse">
								<h5>DETALLES DE TU RIESGO de tus {{tipo}} en calidad</h5> 
							</div>
							<div class="col-12 text-uppercase text-monse">
								<h6>BASADO EN CALIFICACIONES RECIBIDAS DE TUS  {{tipo}} {{leyenda}}</h6>
							</div>
						</div>
					</div>

					<div class="body-card bg-white">
						<div class="container-fluid">
							<div class="row">
								<div *ngFor="let calidad of detalle_riesgo.listado_calidad" class="col-12 m-t-30  text-center">
									<h5 class="text-primary text-monse m-b-30">{{calidad.Pregunta}}</h5>
									<div class="row">
										<div class="col-3 d-flex align-items-center">
											<div class="card text-center" style="padding: 20px;">
												<h6 class="d-block text-primary">Respuesta Positiva</h6>
												<h5 class="d-block text-secondary">{{calidad.Respuesta}}</h5>
												<h6 class="d-block text-primary">Número de calificaciones que han recibido tus clientes</h6>
												<h5 class=" d-block text-secondary">{{calidad.total_calificaciones}}</h5>
											</div>	
										</div>
										<div class="col-9">
											<div class="row text-monse">
												<div class="col-4 card p-t-15 p-b-15 text-muted">
													Media Anterior
													<p>{{calidad.promedio_pasado.num}}</p>	
												</div>
												<div class="col-4 card p-t-15 p-b-15 text-muted">
													Media Actual
													<p>{{calidad.promedio_actual.num}}</p>	
												</div>
												<div class="col-4 card p-t-15 p-b-15 d-flex justify-content-center">
													<h2>	
														<i *ngIf="calidad.promedio_actual.num > calidad.promedio_pasado.num" class="fas fa-arrow-down text-succes"></i>
														<i *ngIf="calidad.promedio_actual.num < calidad.promedio_pasado.num" class="fas fa-arrow-up text-danger"></i>
														<i *ngIf="calidad.promedio_actual.num === calidad.promedio_pasado.num" class="fas fa-minus text-primary"></i>
													</h2>
												</div>
												<div class="col-4 card p-t-15 p-b-15 text-muted">
														Empeorados
														<p class="text-danger">{{calidad.empeorados}}</p>	
													</div>
													<div class="col-4 card p-t-15 p-b-15 text-muted">
														Mantenidos
														<p>{{calidad.mantenidos}}</p>	
													</div>
													<div class="col-4 card p-t-15 p-b-15 text-muted">
														Mejorados
														<p class="text-succes">{{calidad.mejorados}}</p>
													</div>
												
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 m-t-30">
				<div class="card contenedor">
					<div class="card-header  container text-center text-white bg-primary">
						<div class="row">
							<div class="col-12 text-uppercase text-monse">
								<h5>DETALLES DE TU RIESGO de tus {{tipo}} en cumplimiento</h5> 
							</div>
							<div class="col-12 text-uppercase text-monse">
								<h6>BASADO EN CALIFICACIONES RECIBIDAS DE TUS  {{tipo}} {{leyenda}}</h6>
							</div>
						</div>
					</div>

					<div class="body-card bg-white">
						<div class="container-fluid">
							<div class="row">
								<div *ngFor="let cumplimiento of detalle_riesgo.listado_cumplimiento" class="col-12 m-t-30  text-center">
									<h5 class="text-primary text-monse m-b-30">{{cumplimiento.Pregunta}}</h5>
									<div class="row">
										<div class="col-3 d-flex align-items-center">
											<div class="card text-center" style="padding: 20px;">
												<h6 class="d-block text-primary">Respuesta Positiva</h6>
												<h5 class="d-block text-secondary">{{cumplimiento.Respuesta}}</h5>
												<h6 class="d-block text-primary">Número de calificaciones que han recibido tus clientes</h6>
												<h5 class=" d-block text-secondary">{{cumplimiento.total_calificaciones}}</h5>
											</div>	
										</div>
										<div class="col-9">
											<div class="row text-monse">
													<div class="col-4 card p-t-15 p-b-15 text-muted">
															Media Anterior
															<p>{{cumplimiento.promedio_pasado.num}}</p>	
														</div>
														<div class="col-4 card p-t-15 p-b-15 text-muted">
															Media Actual
															<p>{{cumplimiento.promedio_actual.num}}</p>	
														</div>
														<div class="col-4 card p-t-15 p-b-15 d-flex justify-content-center">
															<h2><i *ngIf="cumplimiento.promedio_actual.num > cumplimiento.promedio_pasado.num" class="fas fa-arrow-down text-succes"></i>
															<i *ngIf="cumplimiento.promedio_actual.num < cumplimiento.promedio_pasado.num" class="fas fa-arrow-up text-danger"></i>
															<i *ngIf="cumplimiento.promedio_actual.num === cumplimiento.promedio_pasado.num" class="fas fa-minus text-primary"></i>
															</h2>
														</div>
														<div class="col-4 card p-t-15 p-b-15 text-muted">
																Empeorados
																<p class="text-danger">{{cumplimiento.empeorados}}</p>
															</div>
															<div class="col-4 card p-t-15 p-b-15 text-muted">
																Mantenidos
																<p class="">{{cumplimiento.mantenidos}}</p>
															</div>
															<div class="col-4 card p-t-15 p-b-15 text-muted">
																Mejorados
																<p class="text-succes">{{cumplimiento.mejorados}}</p>
															</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 m-t-30" *ngIf="tipo_persona==='proveedor'">
				<div class="card contenedor">
					<div class="card-header  container text-center text-white bg-primary">
						<div class="row">
							<div class="col-12 text-uppercase text-monse">
								<h5>DETALLES DE TU RIESGO de tus {{tipo}} en oferta</h5> 
							</div>
							<div class="col-12 text-uppercase text-monse">
								<h6>BASADO EN CALIFICACIONES RECIBIDAS DE TUS  {{tipo}} {{leyenda}}</h6>
							</div>
						</div>
					</div>

					<div class="body-card bg-white">
						<div class="container-fluid">
							<div class="row">
								<div *ngFor="let oferta of detalle_riesgo.listado_oferta" class="col-12 m-t-30  text-center">
									<h5 class="text-primary text-monse m-b-30">{{oferta.Pregunta}}</h5>
									<div class="row">
										<div class="col-3 d-flex align-items-center">
											<div class="card text-center" style="padding: 20px;">
												<h5 class="d-block text-primary">Respuesta Positiva</h5>
												<h5 class="d-block text-secondary">{{oferta.Respuesta}}</h5>
												<h6 class="d-block text-primary">Número de calificaciones que han recibido tus clientes</h6>
												<h5 class=" d-block text-secondary">{{oferta.total_calificaciones}}</h5>
											</div>	
										</div>
										<div class="col-9">
											<div class="row text-monse">
													<div class="col-4 card p-t-15 p-b-15 text-muted">
															Media Anterior
															<p>{{oferta.promedio_pasado.num}}</p>	
														</div>
														<div class="col-4 card p-t-15 p-b-15 text-muted">
															Media Actual
															<p>{{oferta.promedio_actual.num}}</p>
															
														</div>
														<div class="col-4 card p-t-15 p-b-15 d-flex justify-content-center">
															<h2><i *ngIf="oferta.promedio_actual.num > oferta.promedio_pasado.num" class="fas fa-arrow-down text-succes"></i>
															<i *ngIf="oferta.promedio_actual.num < oferta.promedio_pasado.num" class="fas fa-arrow-up text-danger"></i>
															<i *ngIf="oferta.promedio_actual.num === oferta.promedio_pasado.num" class="fas fa-minus text-primary"></i>
															</h2>
														</div>
														<div class="col-4 card p-t-15 p-b-15 text-muted">
															Empeorado
															<p class="text-danger">{{oferta.empeorados}}</p>	
														</div>
														<div class="col-4 card p-t-15 p-b-15 text-muted">
															Mantenido
															<p>{{oferta.mantenidos}}</p>	
														</div>
														<div class="col-4 card p-t-15 p-b-15 text-muted">
															Mejorado
															<p class="text-succes">{{oferta.mejorados}}</p>
														</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div *ngIf="sniper" class="sniper d-flex justify-content-center align-items-center">
	<div class="spinner-border text-light" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>