<div class="container-fluid p-t-40 p-b-40">

		<div class="row">
			<div class="col-12 m-b-30">
				<div class="container-fluid">
					<div class="row">
						<div class="col-3">
							<div (click)="goimagen()" class="card btn-ir ">
								<span><i class="fas fa-chart-area"></i></span>
								<br>
								<label>Imagen como {{tipo_imagen}}</label>
							</div>
						</div>
						<div class="col-3">
								<div class="card btn-ir active">
									<span><i class="fas fa-chart-area"></i></span>
									<br>
									<label>Mas Detalles</label>
								</div>
							</div>
						<div class="col-3 ">
							<div (click)="lista()" class="card btn-ir ">
								<span><i class="fas fa-users"></i></span>
								<br>
								<label>Mis {{tipo}}</label>
							</div>
						</div>
						<div class="col-3 ">
							<div (click)="recibidas()" class="card btn-ir">
								<span><i class="fas fa-award"></i></span>
								<br>
								<label>Calificaciones Recibidas</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div class="container-fluid resumen">
		<div class="row">
			<div class="col-12  texto_black_titulo text-monse">
				<h2>DETALLES DE TU IMAGEN COMO {{tipo_imagen}}</h2>
			</div>
			<div class="col-12 d-flex justify-content-end m-t-30  m-b-30">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button (click)="cambiar('A')" type="button" class="btn {{fecha_imagen==='A'?'btn-primary':'btn-inactivo'}}">12 Meses</button>
					<button (click)="cambiar('M')" type="button" class="btn {{fecha_imagen==='M'?'btn-primary':'btn-inactivo'}} ">Mes Actual</button>
					
				</div>	
			</div>
			<div class="col-12 text-monse text-muted text-uppercase text-center">
				<h5>calidad</h5>
				<br>
				<h6>BASADO EN CALIFICACIONES RECIBIDAS DE TUS {{tipo_contrario}} {{leyenda}}</h6>
			</div>
			<div class="col-12">
				<div class="card contenedor">
					<div class="body-card">
						<div class="container-fluid">
							<div class="row">
								<div class="col-6 m-t-30">
									<div class="card text-monse text-center presentacion">
										<h6 class="text-uppercase text-primary ">CALIFICACIÓN MEDIA RECIBIDA EN CALIDAD</h6>
										<div class="container">
											<div class="row">
												<div class="col-12 numero">
													{{imagen?.Calidad?.media}}
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-6 m-t-30">
									<div class="card text-monse text-center presentacion">
										<h6 class="text-uppercase text-primary">Variación de la calificación media en Calidad</h6>
										<div class="container">
											<div class="row d-flex justify-content-center align-items-center">
												
												<div class="col-12 variacion {{imagen?.Calidad?.incremento?.class}}">
													{{imagen?.Calidad?.incremento?.num}}
													<i *ngIf="imagen?.Calidad?.incremento?.class=='red'" class="fas fa-arrow-down"></i>
													<i *ngIf="imagen?.Calidad?.incremento?.class=='green'" class="fas fa-arrow-up"></i>
												</div>
												
											</div>
										</div>
									</div>
								</div>
								<div *ngFor="let calidad of imagen.listCalidad" class="col-12 m-t-30  text-center">
									<h5 class="text-primary text-monse m-b-30">{{calidad.Pregunta}}</h5>
									<div class="row">
										<div class="col-3 d-flex align-items-center">
											<div class="card text-center" style="padding: 20px;">
												<h5 class="d-block text-primary">No de Calificaciones</h5>
												<h5 class="d-block text-secondary">{{calidad.Totalcalificaciones}}</h5>
												<h5 class="d-block text-primary">Respuesta Evaluada</h5>
												<h5 class=" d-block text-secondary">{{calidad.respuesta}}</h5>
											</div>	
										</div>
										<div class="col-9">
											<div class="row">
												<div class="col-md-12 chart">
													<div style="display: block" class="contene">
														<canvas baseChart 
														width="400" height="80"
														[datasets]="calidad.serie" 
														[labels]="barChartLabels"
														[options]="barChartOptions"
														[legend]="barChartLegend"
														[chartType]="barChartType"
														(chartHover)="chartHovered($event)"
														(chartClick)="chartClicked($event)"></canvas>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 text-monse text-muted text-uppercase text-center  m-t-60">
				<h5>Cumplimiento</h5>
				<br>
				<h6>BASADO EN CALIFICACIONES RECIBIDAS DE TUS {{tipo_contrario}} {{leyenda}}</h6>
			</div>
			<div class="col-12 ">
				<div class="card contenedor">
					
					<div class="body-card">
						<div class="container-fluid">
							<div class="row">
								<div class="col-6 m-t-30">
									<div class="card text-monse text-center presentacion">
										<h6 class="text-uppercase text-primary ">CALIFICACIÓN MEDIA RECIBIDA EN  Cumplimiento</h6>
										<div class="container">
											<div class="row">
												<div class="col-12 numero">
													{{imagen?.Cumplimiento?.media}}
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-6 m-t-30">
									<div class="card text-monse text-center presentacion">
										<h6 class="text-uppercase text-primary">Variación de la calificación media en Cumplimiento</h6>
										<div class="container">
											<div class="row d-flex justify-content-center align-items-center">
												
												<div class="col-12 variacion {{imagen?.Cumplimiento?.incremento?.class}}">
													{{imagen?.Cumplimiento?.incremento?.num}}
													<i *ngIf="imagen?.Cumplimiento?.incremento?.class=='red'" class="fas fa-arrow-down"></i>
													<i *ngIf="imagen?.Cumplimiento?.incremento?.class=='green'" class="fas fa-arrow-up"></i>
												</div>
												
											</div>
										</div>
									</div>
								</div>
								<div *ngFor="let calidad of imagen.listCumplimiento" class="col-12 m-t-30  text-center">
									<h5 class="text-primary text-monse m-b-30">{{calidad.Pregunta}}</h5>
									<div class="row">
										<div class="col-3 d-flex align-items-center">
											<div class="card text-center" style="padding: 20px;">
												<h5 class="d-block text-primary">No de Calificaciones</h5>
												<h5 class="d-block text-secondary">{{calidad.Totalcalificaciones}}</h5>
												<h5 class="d-block text-primary">Respuesta Evaluada</h5>
												<h5 class=" d-block text-secondary">{{calidad.respuesta}}</h5>
											</div>	
										</div>
										<div class="col-9">
											<div class="row">
												<div class="col-md-12 chart">
													<div style="display: block">
														<canvas baseChart 
														width="400" height="80"
														[datasets]="calidad.serie" 
														[labels]="barChartLabels"
														[options]="barChartOptions"
														[legend]="barChartLegend"
														[chartType]="barChartType"
														(chartHover)="chartHovered($event)"
														(chartClick)="chartClicked($event)"></canvas>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="tipo_imagen==='proveedor'" class="col-12 text-monse text-muted text-uppercase text-center m-t-60">
				<h5>oferta</h5>
				<br>
				<h6>BASADO EN CALIFICACIONES RECIBIDAS DE TUS {{tipo_contrario}} {{leyenda}}</h6>
			</div>
			<div *ngIf="tipo_imagen==='proveedor'" class="col-12">
				<div class="card contenedor">
					<div class="body-card">
						<div class="container-fluid">
							<div class="row">
								<div class="col-6 m-t-30">
									<div class="card text-monse text-center presentacion">
										<h6 class="text-uppercase text-primary ">CALIFICACIÓN MEDIA RECIBIDA EN  Oferta</h6>
										<div class="container">
											<div class="row">
												<div class="col-12 numero">
													{{imagen?.Oferta?.media}}
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-6 m-t-30">
									<div class="card text-monse text-center presentacion">
										<h6 class="text-uppercase text-primary">Variación de la calificación media en Oferta</h6>
										<div class="container">
											<div class="row d-flex justify-content-center align-items-center">
												
												<div class="col-12 variacion {{imagen?.Oferta?.incremento?.class}}">
													{{imagen?.Oferta?.incremento?.num}}
													<i *ngIf="imagen?.Oferta?.incremento?.class=='red'" class="fas fa-arrow-down"></i>
													<i *ngIf="imagen?.Oferta?.incremento?.class=='green'" class="fas fa-arrow-up"></i>
												</div>
												
											</div>
										</div>
									</div>
								</div>
								<div *ngFor="let calidad of imagen.listOferta" class="col-12 m-t-30  text-center">
									<h5 class="text-primary text-monse m-b-30">{{calidad.Pregunta}}</h5>
									<div class="row d-flex justify-content-center">
										<div class="col-3 d-flex align-items-center" >
											<div class="card text-center " style="padding: 20px;">
												<h5 class="d-block text-primary">No de Calificaciones</h5>
												<h5 class="d-block text-secondary">{{calidad.Totalcalificaciones}}</h5>
												<h5 class="d-block text-primary">Respuesta Evaluada</h5>
												<h5 class=" d-block text-secondary">{{calidad.respuesta}}</h5>
											</div>	
										</div>
										<div class="col-9">
											<div class="row">
												<div class="col-md-12 chart">
													<div style="display: block">
														<canvas baseChart 
														width="400" height="80"
														[datasets]="calidad.serie" 
														[labels]="barChartLabels"
														[options]="barChartOptions"
														[legend]="barChartLegend"
														[chartType]="barChartType"
														(chartHover)="chartHovered($event)"
														(chartClick)="chartClicked($event)"></canvas>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="sniper" class="sniper d-flex justify-content-center align-items-center">
	<div class="spinner-border text-light" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>