@import '../../../styles';
.resumen{
	padding-top:1rem;
	padding-bottom:1rem;
	& .presentacion{
		height: 170px;
		padding:10px 15px;
	}
	& .titulo{
		font-family: map-get($fonts,roboto);
		font-size: .9rem;
	}
	& .numero{
		font-family: map-get($fonts,roboto);
		font-size: 4.5rem;
		color:map-get($colors,secondary);
		padding-bottom: 1rem;
		padding-top: 1rem;
		text-align: center;

	}
	& .variacion{
		text-align: center;
		font-size: 2rem;
		padding-bottom: 1rem;
	    padding-top: 1rem;
	    font-size: 4.5rem;
		&.neutro{
			color:map-get($colors,primary);
		}
		&.green{
			color:map-get($colors,succes);
		}
		&.red{
			color:map-get($colors,danger);
		}
	}
}
.chart{
	position: relative;
	height: 200px;
	width: 100%;
	& .contene{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 200px;
		& canvas{
			
		}
	}
	
}
.btn-inactivo{
	color:map-get($gamagrises , girsmenu );
	background: map-get($gamagrises , gris5 );
	:hover{
		color:map-get($gamagrises , girsmenu );
		background: map-get($colors , primary );
	}
}