<div class="ray-secondary">
  
</div>
<div class="container-fluid bg-gris3 cont-redes">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4 col-xl-4 col-lg-4 text-center">
				<h5 class="text-white"><i class="fab fa-facebook-f"></i></h5>
			</div>
			<div class="col-12 col-md-4 col-xl-4 col-lg-4 text-center">
				<h5 class="text-white"><i class="fab fa-linkedin-in"></i></h5>
			</div>
			<div class="col-12 col-md-4 col-xl-4 col-lg-4 text-center">
				<h5 class="text-white"><i class="fab fa-twitter"></i></h5>
			</div>
			
		</div>
	</div>
</div>
<div class="container-fluid bg-gris3 cont-fotter">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-3 col-xl-3 col-lg-3 text-center">
				<a  routerLink="/terminosycondiciones"><h5>Términos y Condiciones</h5></a>
			</div>
			<div class="col-12 col-md-3 col-xl-3 col-lg-3 text-center">
				<a routerLink="/puntosydescuentos"><h5>Puntos y Descuentos</h5></a>
			</div>
			<div class="col-12 col-md-3 col-xl-3 col-lg-3 text-center">
				<a routerLink="/saladeprensa"><h5>Sala de Prensa</h5></a>
			</div>
			<div class="col-12 col-md-3 col-xl-3 col-lg-3 text-center">
				<a routerLink="/contacto"><h5>Contácto</h5></a>
			</div>
			<div class="col-12 text-center text-white m-t-40">
				© 2019 InfoAdmyo S.A. de C.V.
			</div>
		</div>
	</div>
</div>