<h5 class="text-uppercase text-monse text-muted m-t-30">Teléfonos</h5> 
<mat-card>
	<mat-list role="list">
			<mat-list-item *ngFor="let telefono of listtelefonos"  class="m-b-10" role="listitem">
				<h5 matLine class="text-gris3">{{telefono.Numero}}</h5>
				<div matLine class="d-felx align-items-baseline">
						<small   class="text-muted">{{telefono.Tipo_Numero}}</small>
						<button (click)="delete(telefono.IDTel)" class="btn btn-link text-primary  float-right"><i class="fas fa-minus-circle"></i></button>
						<button (click)="obtdat(telefono.IDTel,alerttelefonos)"  class="btn btn-link text-primary float-right"><i class="fas fa-pencil-alt"></i></button>
						
				</div>
			</mat-list-item>
			<div class="text-center w-100">
					<button (click)="openalert(alerttelefonos)" class="btn btn-outline-primary"> Agregar</button>
			</div>
	</mat-list>
</mat-card>
<ng-template #alerttelefonos let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modeltelefono.IDTel?'Editar Teléfono':'Registrar Teléfono'}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closemodel(alerttelefonos)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="container">
      	<div class="form-group row">
		    <label class="col-sm-12 col-form-label">Teléfono</label>
		    
		    <div class="col-sm-12">
		    	<input class="form-control" [(ngModel)]="modeltelefono.Numero" name="Numero" #Numero="ngModel" type="text">
		    </div>
		</div>	
		<div class="form-group row">
		    <label class="col-sm-12 col-form-label">Tipo Teléfono</label>
		    <div class="col-sm-12">
		    	<select class="form-control" [(ngModel)]="modeltelefono.Tipo_Numero" name="Tipo_Numero" #Tipo_Numero="ngModel">
		    		<option value="Fijo">Fijo</option>
		    		<option value="Movil">Móvil</option>
		    	</select>
		    </div>
		</div>	
				
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closemodel(alertmarcas)">Cerrar</button>
    <button type="button" (click)="addtel()" class="btn btn-primary" >Guardar</button>
  </div>
</ng-template>
<div *ngIf="sniper" class="sniper d-flex justify-content-center align-items-center">
	<div class="spinner-border text-light" role="status">
	  <span class="sr-only">Loading...</span>
	</div>
</div>