@import '../../../styles';
.card-avatar{
    position: relative;

   & .avatar{
        width: 100px;
        height: 100px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    } 
    & .text-nombre{
        font-size: 1rem;
        font-family: map-get($fonts,monse);
        color:map-get($colors ,gris4);
    }
    & .text-usuario{
        font-size: 0.8rem;
        font-family: map-get($fonts,monse);
        color:map-get($colors ,girsmenu);
    }
}
.cont-img{
	position: relative;
	width: 200px;
	height: 200px;
	margin:0 auto;
	
}
.avatar{
	width: 150px;
	height: 150px;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
} 
