<div class="container-fluid p-t-40 p-b-40">
	<div class="container">
		<div class="row">
			<div class="col-12 text-uppercase texto_black_titulo text-monse m-b-30">
					<h2>Catálogo de Productos y Servicios</h2> 
			</div>
			<mat-form-field class="col-9">
					<input (keyup)="busqueda()" [(ngModel)]="palabra" matInput class="text-dark" placeholder="Buscar Producto o Servicio" value="">
			</mat-form-field>
			<div class="col-3 text-right">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button type="button" (click)="modal_open=!modal_open" class="btn btn-secondary"><i class="material-icons">add</i></button>
				</div>
			</div>
			<div class="col-3  m-t-20" *ngFor="let producto of productos | paginate: {itemsPerPage: 20, currentPage: pageActual}; index as i">
				<mat-card  class="w-100 card-avatar">
						<div class="row">
							<div class="col-12 text-right">
								<button mat-icon-button [matMenuTriggerFor]="menu">
										<mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
									<button (click)="editar(producto.IDProducto)"  mat-menu-item>
										<mat-icon>view_column</mat-icon>
											<span>Editar</span>
									</button>
									<button  (click)="eliminar(producto.IDProducto)" mat-menu-item>
										<mat-icon>view_column</mat-icon>
										<span>Eliminar</span>
									</button>
								</mat-menu>
							</div>
						</div>
						<mat-card-header>
								<img  src="{{producto.Foto===null?'src/assets/img/foto-no-disponible.jpg':rutaserver+'assets/img/logoprod/'+producto.Foto}}" mat-card-avatar  class="avatar">
								
						</mat-card-header>
						<div class="row text-usuario text-muted">
							<div class="col-12 m-t-30 text-center">
									<h5 >{{producto.Producto}}</h5>
							</div>
							<div class="col-12 text-center">
									<p >{{(producto.Descripcion.length>80)? (producto.Descripcion | slice:0:80)+'...':producto.Descripcion}}</p>
							</div>
							<div class="btn-group text-center d-flex col-12" role="group" aria-label="Basic example">
									<button (click)="eliminar(producto.IDProducto)" type="button" class="btn btn-outline-secondary mr-3">Eliminar</button>
									<button (click)="editar(producto.IDProducto)" type="button" class="btn btn-outline-secondary">Editar</button>
							</div>
						</div>						
				</mat-card>
			</div>
			<div class="col-12 text-center m-t-40">
					<pagination-controls class="my-pagination" (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
			</div>
		</div>
	</div>
</div>
<div *ngIf="sniper" class="sniper d-flex justify-content-center align-items-center">
	<div class="spinner-border text-light" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>
<ngb-alert *ngIf="staticAlertClosed" type="danger" style="position: fixed;z-index: 1000;top: 0;width: 100%;margin: 0 auto;" (click)="close(alert)">{{ alertterror }}</ngb-alert>
<ngb-alert *ngIf="successAlertClosed" type="success" style="position: fixed;z-index: 1000;top: 0;width: 100%;margin: 0 auto;" (click)="close(alert)">{{ alertsuccess }}</ngb-alert>


<div class="container-fluid fondomodal" *ngIf="modal_open">
		<div class="container">
				<div class="row">
					<div class="card  m-auto col-6">
						<div class="card-body row">
							<div class="col-12 m-b-20">
								<span class="titulo-card">{{modelproductos.IDProducto?'Editar Producto o Servicio':'Registrar Producto o Servicio'}}</span>
							</div>
							<div class="col-4 justify-content-center align-content-center">
									<div class="row">
									  <div class="col-12 text-center">
										  <div class="avatar m-auto" [ngStyle]="{'background-image': 'url('+imglogo+')'}"></div>
										 
									  </div>
									  <div class="col-12 text-center m-t-20">
											<button (click)="logo.click()" class="btn btn-outline-primary">Cargar Logo</button>
											<input (change)="preview(logo.files)" class="d-none" accept="image/gif, image/jpeg, image/png" type="file" #logo >
									  </div>
						
									</div>
									  
								  </div>
							
							<div class="col-8">
								<div class="row">
									<mat-form-field class="col-12">
										<input matInput placeholder="Producto o Servicio" [(ngModel)]="modelproductos.Producto" value="">
									</mat-form-field>
									<mat-form-field class="col-12">
										<input matInput placeholder="Promoción" [(ngModel)]="modelproductos.Promocion" value="">
									</mat-form-field>
									<mat-form-field class="col-12">
											<textarea  matInput placeholder="Descripción" [(ngModel)]="modelproductos.Descripcion" ></textarea>
										</mat-form-field>
								</div>
							</div>
						</div>
						<div class="card-footer ">
								
								<div class="btn-group float-right" role="group" aria-label="Basic example">
									<button type="button" (click)="cerrar_modal()"  class="btn btn-outline-danger mr-3">Cancelar</button>
									<button type="button" (click)="deci(alertproductos)"  class="btn btn-succes ">Guardar</button>
								  </div>
							  </div>
					</div>
				</div>
		</div>
</div>
