<div class="container-fluid p-t-40 p-b-40">
	<div class="container">
		<div class="row">
			<div class="col-12 text-uppercase text-muted text-monse m-b-30">
					<h2>Catálogo de Productos y Servicios</h2> 
			</div>
			<mat-form-field class="col-9">
					<input (keyup)="busqueda()" matInput class="text-dark" placeholder="Buscar Producto o Servicio" value="">
			</mat-form-field>
			<div class="col-3 text-right">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button type="button" (click)="openalert(alertproductos)" class="btn btn-secondary"><i class="material-icons">add</i></button>
				</div>
			</div>
			<div class="col-3  m-t-20" *ngFor="let producto of productos | paginate: {itemsPerPage: 20, currentPage: pageActual}; index as i">
				<mat-card  class="w-100 card-avatar">
						<div class="row">
							<div class="col-12 text-right">
								<button mat-icon-button [matMenuTriggerFor]="menu">
										<mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
									<button  mat-menu-item>
										<mat-icon>view_column</mat-icon>
											<span>Editar</span>
									</button>
									<button  mat-menu-item>
										<mat-icon>view_column</mat-icon>
										<span>Eliminar</span>
									</button>
								</mat-menu>
							</div>
						</div>
						<mat-card-header>
								<img  src="{{producto.Foto===null?'src/assets/img/foto-no-disponible.jpg':rutaserver+'assets/img/logoprod/'+producto.Foto}}" mat-card-avatar  class="avatar">
								
						</mat-card-header>
						<div class="row text-usuario text-muted">
							<div class="col-12 m-t-30 text-center">
									<h5 >{{producto.Producto}}</h5>
							</div>
							<div class="col-12 text-center">
									<p >{{(producto.Descripcion.length>80)? (producto.Descripcion | slice:0:80)+'...':producto.Descripcion}}</p>
							</div>
							<div class="btn-group text-center d-flex col-12" role="group" aria-label="Basic example">
									<button (click)="eliminar(producto.IDProducto)" type="button" class="btn btn-outline-secondary mr-3">Eliminar</button>
									<button (click)="editar(producto.IDProducto,alertproductos)" type="button" class="btn btn-outline-secondary">Editar</button>
							</div>
						</div>						
				</mat-card>
			</div>
			<div class="col-12 text-center m-t-40">
					<pagination-controls class="my-pagination" (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
			</div>
		</div>
	</div>
</div>
<div *ngIf="sniper" class="sniper d-flex justify-content-center align-items-center">
	<div class="spinner-border text-light" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>
<ngb-alert *ngIf="staticAlertClosed" type="danger" style="position: fixed;z-index: 1000;top: 0;width: 100%;margin: 0 auto;" (click)="close(alert)">{{ alertterror }}</ngb-alert>
<ngb-alert *ngIf="successAlertClosed" type="success" style="position: fixed;z-index: 1000;top: 0;width: 100%;margin: 0 auto;" (click)="close(alert)">{{ alertsuccess }}</ngb-alert>

<ng-template #alertproductos let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{modelproductos.IDProducto?'Editar Producto o Servicio':'Registrar Producto o Servicio'}}</h4>
		<button type="button" class="close" aria-label="Close" (click)="closemodel(alertproductos)">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form class="container">
			<div class="row">
				<div class="col-6 m-auto m-t-20 text-center">
					<div class="cont-img">
						<img src="{{imglogo}}" class="img-fluid" alt="">
					</div>
					<button (click)="logo.click()" class="btn btn-primary">Cargar Logo</button>
					<input (change)="preview(logo.files)" class="d-none" type="file" #logo >
				</div>
				<div class="col-6">
					<div class="form-group row">
						<label class="col-sm-12 col-form-label">Producto o Servicio</label>
						<div class="col-sm-12">
							<input class="form-control" [(ngModel)]="modelproductos.Producto" name="Producto" #Producto="ngModel" type="text">
						</div>
					</div>
					<div class="form-group d-none row">
						<label class="col-sm-12 col-form-label">Promoción</label>
						<div class="col-sm-12">
							<input class="form-control" [(ngModel)]="modelproductos.Promocion" name="Promocion" #Promocion="ngModel" type="text">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-form-label">Descripción</label>
						<div class="col-sm-12">
							<textarea class="form-control" [(ngModel)]="modelproductos.Descripcion" name="Descripcion" #Descripcion="ngModel" col="5" rows="5"></textarea>
						</div>
					</div>
				</div>
			</div>
			

		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="closemodel(alertproductos)">Cerrar</button>
		<button  type="button" (click)="deci(alertproductos)" class="btn btn-primary" >Guardar</button>
	</div>
</ng-template>