<div class="container-fluid p-t-40 p-b-40">
	<div class="container">
		<div class="row">
			<div class="col-12 text-uppercase text-muted text-monse m-b-30">
				<h2>Catálogo de Certificaciones</h2> 
			</div>
			<mat-form-field class="col-9">
				<input (keyup)="busqueda()" [(ngModel)]="palabra" matInput class="text-dark" placeholder="Buscar Certificaciones registradas" value="">
			</mat-form-field>
			<div class="col-3 text-right">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button type="button" (click)="modal_open=!modal_open" class="btn btn-secondary"><i class="material-icons">add</i></button>
				</div>
			</div>
			<div class="col-3 m-t-20" *ngFor="let certificacion of certificaciones| paginate: {itemsPerPage: 20, currentPage: pageActual}; index as i">
				<mat-card  class="w-100 card-avatar">
						<div class="row">
								<div class="col-12 text-right">
									<button mat-icon-button [matMenuTriggerFor]="menu">
											<mat-icon>more_vert</mat-icon>
									</button>
									<mat-menu #menu="matMenu">
										<button  (click)="editar(certificacion.IDNorma)"   mat-menu-item>
											<mat-icon>create</mat-icon>
												<span>Editar</span>
										</button>
										<button  (click)="delete(certificacion.IDNorma)"  mat-menu-item>
											<mat-icon>delete</mat-icon>
											<span>Eliminar</span>
										</button>
									</mat-menu>
								</div>
							</div>
							<div class="row text-usuario text-muted">
									<div class="col-12 m-t-30 text-center">
											<h5 >{{certificacion.Norma}}</h5>
									</div>
									<div class="col-12 text-center m-t-20">
											<p >Fecha de Certificación:{{certificacion.Fecha}}</p>
									</div>
									
									<div class="col-12 text-center">
											<p >Calificación:{{certificacion.Calif}}</p>
									</div>
									<div class="col-12 text-center">
											<a target="_blanck" href="{{serverruta+'assets/certificaciones/'+certificacion.Archivo}}">Ver Archivo: {{certificacion.Archivo}}</a>
									</div>
									<div class="btn-group text-center d-flex col-12 m-t-20" role="group" aria-label="Basic example">
											<button (click)="delete(certificacion.IDNorma)" type="button" class="btn btn-outline-secondary mr-3">Eliminar</button>
											<button (click)="editar(certificacion.IDNorma)" type="button" class="btn btn-outline-secondary">Editar</button>
									</div>
							</div>
									
				</mat-card>
			</div>
				<div class="col-12 text-center m-t-40">
						<pagination-controls class="my-pagination" (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
				</div>
			
		</div>
	</div>
</div>
<div *ngIf="sniper" class="sniper d-flex justify-content-center align-items-center">
	<div class="spinner-border text-light" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>
<ngb-alert *ngIf="staticAlertClosed" type="danger" style="position: fixed;z-index: 1000;top: 0;width: 100%;margin: 0 auto;" (click)="close(alert)">{{ alertterror }}</ngb-alert>
<ngb-alert *ngIf="successAlertClosed" type="success" style="position: fixed;z-index: 1000;top: 0;width: 100%;margin: 0 auto;" (click)="close(alert)">{{ alertsuccess }}</ngb-alert>



<div class="container-fluid fondomodal" *ngIf="modal_open">
	<div class="container">
		<div class="row">
			<div class="card  m-auto col-6">
				<div class="card-body row">
					<div class="col-12 m-b-20">
						<span class="titulo-card">{{modelcertificacion.IDNorma?'Editar Certificación':'Registrar Certificación'}}</span>
					</div>
					<mat-form-field class="col-12 m-t-20">
						<input matInput [(ngModel)]="modelcertificacion.Norma" placeholder="Nombre de Certificación *" value="">
					</mat-form-field>
					<mat-form-field class="col-6 m-t-20">
						<input matInput [(ngModel)]="modelcertificacion.Fecha" placeholder="Fecha de Certificación *" value="">
					</mat-form-field>
					<mat-form-field class="col-6 m-t-20">
						<input matInput [(ngModel)]="modelcertificacion.FechaVencimiento" placeholder="Fecha de Vencimiento" value="">
					</mat-form-field>
					<mat-form-field class="col-6 m-t-20">
						<input matInput mask="0.00" [(ngModel)]="modelcertificacion.Calif" placeholder="Calificación" value="">
					</mat-form-field>
					<mat-form-field class="col-6 m-t-20">
						<input matInput disabled  [(ngModel)]="modelcertificacion.Archivo" placeholder="Archivo *" value="">
						<button (click)="logo.click()" mat-button  matSuffix mat-icon-button >
								<mat-icon>description</mat-icon>
						</button>
						<input (change)="preview(logo.files)" class="d-none" type="file" #logo >
					</mat-form-field>
				</div>
				<div class="card-footer ">
					<div class="btn-group float-right" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-outline-danger mr-3" (click)="closemodel()">Cerrar</button>
							<button  type="button" (click)="deci()" class="btn btn-succes" >Guardar</button>
						  </div>
					</div>
			</div>
		</div>
	</div>
</div>