<div class="container-fluid p-t-40 p-b-40">
	<div class="container">
		<div class="row">
			<div class="col-12 text-uppercase text-muted text-monse m-b-30">
				<h2>Catálogo de Certificaciones</h2> 
			</div>
			<mat-form-field class="col-9">
				<input (keyup)="busqueda()" matInput class="text-dark" placeholder="Buscar Certificaciones registradas" value="">
			</mat-form-field>
			<div class="col-3 text-right">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button type="button" (click)="openalert(alertproductos)" class="btn btn-secondary"><i class="material-icons">add</i></button>
				</div>
			</div>
			<div class="col-3 m-t-20" *ngFor="let certificacion of certificaciones| paginate: {itemsPerPage: 20, currentPage: pageActual}; index as i">
				<mat-card  class="w-100 card-avatar">
						<div class="row">
								<div class="col-12 text-right">
									<button mat-icon-button [matMenuTriggerFor]="menu">
											<mat-icon>more_vert</mat-icon>
									</button>
									<mat-menu #menu="matMenu">
										<button (click)="delete(certificacion.IDNorma)"  mat-menu-item>
											<mat-icon>create</mat-icon>
												<span>Editar</span>
										</button>
										<button  (click)="editar(certificacion.IDNorma,alertproductos)"  mat-menu-item>
											<mat-icon>delete</mat-icon>
											<span>Eliminar</span>
										</button>
									</mat-menu>
								</div>
							</div>
							<div class="row text-usuario text-muted">
									<div class="col-12 m-t-30 text-center">
											<h5 >{{certificacion.Norma}}</h5>
									</div>
									<div class="col-12 text-center">
											<p >Fecha:{{certificacion.Fecha}}</p>
									</div>
									<div class="col-12 text-center">
											<p >Calificación:{{certificacion.Calif}}</p>
									</div>
									<div class="col-12 text-center">
											<a target="_blanck" href="{{serverruta+'assets/certificaciones/'+certificacion.Archivo}}">Ver Archivo: {{certificacion.Archivo}}</a>
									</div>
									<div class="btn-group text-center d-flex col-12 m-t-20" role="group" aria-label="Basic example">
											<button (click)="delete(certificacion.IDNorma)" type="button" class="btn btn-outline-secondary mr-3">Eliminar</button>
											<button (click)="editar(certificacion.IDNorma,alertproductos)" type="button" class="btn btn-outline-secondary">Editar</button>
									</div>
							</div>
									
				</mat-card>
				<div class="col-12 text-center m-t-40">
						<pagination-controls class="my-pagination" (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="sniper" class="sniper d-flex justify-content-center align-items-center">
	<div class="spinner-border text-light" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>
<ngb-alert *ngIf="staticAlertClosed" type="danger" style="position: fixed;z-index: 1000;top: 0;width: 100%;margin: 0 auto;" (click)="close(alert)">{{ alertterror }}</ngb-alert>
<ngb-alert *ngIf="successAlertClosed" type="success" style="position: fixed;z-index: 1000;top: 0;width: 100%;margin: 0 auto;" (click)="close(alert)">{{ alertsuccess }}</ngb-alert>

<ng-template #alertproductos let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{modelcertificacion.IDNorma?'Editar Certificación':'Registrar Certificación'}}</h4>
		<button type="button" class="close" aria-label="Close" (click)="closemodel(alertproductos)">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form class="container">
			<div class="row">
				<div class="col-12 m-auto m-t-20">
					<label class="col-sm-12 col-form-label">Archivo</label>
					<div class="input-group ">
					  <input type="text" class="form-control" disabled [(ngModel)]="modelcertificacion.Archivo" name="Archivo" >
					  <div class="input-group-prepend">
					    <span class="input-group-text btn btn-primary" (click)="logo.click()"><i class="fas fa-archive"></i></span>
					  </div>
					</div>
					<input (change)="preview(logo.files)" class="d-none" type="file" #logo >
				</div>
				<div class="col-12">
					<div class="form-group row">
						<label class="col-sm-12 col-form-label">Nombre de Certificación</label>
						<div class="col-sm-12">
							<input class="form-control" [(ngModel)]="modelcertificacion.Norma" name="Norma" #Norma="ngModel" type="text">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-form-label">Fecha de Calificación</label>
						<div class="col-sm-12">
							
							<div class="input-group ">
					 			<input ngbDatepicker #d="ngbDatepicker" class="form-control" [(ngModel)]="modelcertificacion.Fecha" name="Fecha" #Fecha="ngModel" type="text">
					  			<div class="input-group-prepend">
					   				<span class="input-group-text btn btn-primary" (click)="d.toggle()"><i class="fas fa-calendar-week"></i></span>
					  			</div>
					</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-form-label">Calificación</label>
						<div class="col-sm-12">
							<input class="form-control"  mask="0.00" [(ngModel)]="modelcertificacion.Calif" name="Calif" #Calif="ngModel" type="text">
						</div>
					</div>
				</div>
			</div>
			

		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="closemodel(alertproductos)">Cerrar</button>
		<button  type="button" (click)="deci(alertproductos)" class="btn btn-primary" >Guardar</button>
	</div>
</ng-template>
