
<div class="container-fluid">
		<div class="row  ">
				
			
		</div>
		<div class="row p-t-10 p-b-10">	
			<div class="col-2">
				<img src="assets/img/logo-admyo2.png" class="img-fluid" alt="admyo">
			</div>
			<mat-toolbar class="col-8 bg-white">
					<button mat-button [matMenuTriggerFor]="mempresa">Empresa</button>
					<mat-menu #mempresa="matMenu">
						<button (click)="goto('perfil')" mat-menu-item>Perfil</button>
						<button (click)="goto('datosempresa')" mat-menu-item>Datos de mi empresa</button>
						<button (click)="goto('productosyservicios')" mat-menu-item>Productos y Servicios</button>
						<button (click)="goto('certificaciones')" mat-menu-item>Certificaciones</button>
						<button  (click)="goto('asociaciones')" mat-menu-item>Asociaciones</button>
						<button (click)="goto('visitas')"mat-menu-item>Visitas</button>
						<button (click)="goto('giros')"mat-menu-item>Giros</button>
					</mat-menu>
				<button mat-button [matMenuTriggerFor]="mimagen">Tu Imagen</button>
				<mat-menu #mimagen="matMenu">
					<button (click)="goto('imagen/cliente/A')" mat-menu-item>Como Cliente</button>
					<button (click)="goto('imagen/proveedor/A')" mat-menu-item>Como Proveedor</button>
				</mat-menu>
				<button mat-button [matMenuTriggerFor]="mriesgo">Tu Riesgo</button>
				<mat-menu #mriesgo="matMenu">
					<button (click)="goto('riesgo/cliente/A')" mat-menu-item>Como Cliente</button>
					<button (click)="goto('riesgo/proveedor/A')" mat-menu-item>Como Proveedor</button>
				</mat-menu>
				<button mat-button [matMenuTriggerFor]="mclientes">Clientes</button>
				<mat-menu #mclientes="matMenu">
					<button (click)="goto('resumen/clientes')" mat-menu-item>Resumen</button>
					<button (click)="goto('lista/clientes')" mat-menu-item>Mis Clientes</button>
					<button (click)="goto('realizadas/clientes')" mat-menu-item>Calificaciones Realizadas</button>
				</mat-menu>
				<button mat-button [matMenuTriggerFor]="mproveedores">Proveedores</button>
				<mat-menu #mproveedores="matMenu">
					<button (click)="goto('resumen/proveedores')" mat-menu-item>Resumen</button>
					<button (click)="goto('lista/proveedores')"  mat-menu-item>Mis Proveedores</button>
					<button (click)="goto('realizadas/proveedores')" mat-menu-item>Calificaciones Realizadas</button>
				</mat-menu>
				
				<button mat-button (click)="goto('follow')" >Seguimientos</button>
				<button mat-button [matMenuTriggerFor]="musuarios">Usuarios</button>
				<mat-menu #musuarios="matMenu">
					<button  (click)="goto('datosusuario')" mat-menu-item>Mis Datos</button>
					<button (click)="goto('listausuarios')"  mat-menu-item>Lista de Usuarios</button>
				</mat-menu>
				<button mat-button  >Consulta</button>
				<button mat-button  (click)="goto('calificar')" class="bg-secondary">Calificar</button>
				<a mat-button href="https://qvaluation.com/" target="_blank" >Qval</a>
				
			</mat-toolbar>
			<div class="col-2 p-l-10">
				<span (click)="goto('notificaciones')" matBadge="{{num_notificaciones}}"  matBadgeOverlap="false"><mat-icon>notification_important</mat-icon></span>
				<button (click)="cerrar()" class="m-l-20" matTooltip="Cerrar Sesión" mat-icon-button aria-label="Example icon-button with a heart icon">
					<mat-icon>clear</mat-icon>
				</button>
			</div>
		</div>
	</div>







<app-searchb></app-searchb>
<div *ngIf="sniper" class="sniper d-flex justify-content-center align-items-center">
	<div class="spinner-border text-light" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>