@import '../../../styles';
.resumen{
	padding-top:1rem;
	padding-bottom:1rem;
	& .titulo{
		font-family: map-get($fonts,roboto);
		font-size: .9rem;
	}
	& .numero{
		font-family: map-get($fonts,roboto);
		font-size: 4.5rem;
		color:map-get($colors,secondary);
		padding-bottom: 1rem;
		padding-top: 1rem;
		text-align: center;

	}
	& .variacion{
		text-align: center;
		font-size: 2rem;
		&.neutro{
			color:map-get($gamagrises,gris3);
		}
		&.green{
			color:map-get($colors,succes);
		}
		&.red{
			color:map-get($colors,danger);
		}
	}
}
.btn-ir{
	border-top: 2px solid #fff;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
    padding: 1rem;
    border: 2px solid map-get($colors,blanco);
    &:hover{
		border-top: 2px solid map-get($colors,primary);
		cursor: pointer;
    }
	&.active{
		border-top: 2px solid map-get($colors,primary);
	}
	& span{
		background: map-get($colors,primary);
		color:#fff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	    width: 50px;
	    height: 50px;
	    font-size: 1.5rem;
	}
	& label{
		font-family:map-get($fonts,monse);
		color:map-get($colors,primary);
		font-size:1rem;
		text-transform: uppercase;
	}
}
.card-footerr{
	& div.btn-card{
		width: 40px;
    height: 40px;
    color: #fff;
    background: map-get($colors,primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
   font-size: 1.2rem;;
    
	cursor:pointer;

	&:hover{
		background: map-get($colors,secondary);
		}
	}
}