<div class="container-fluid bg-primary  cont-precios">
	<div class="row">
		<div class="col-12 text-center m-b-40">
			<h4 class="text-white text-uppercase text-prosto">Precios Admyo</h4>
		</div>
		<div class="col-12 col-md-4 col-xl-4 col-lg-4">
			<div class="card">
				<div class="card-body">
					<div class="card-precio text-white p-t-20 p-b-20 bg-succes text-center">
						Free
					</div>
					<ul class="list-group">
						<li class="list-group-item">Perfil en Admyo</li>
						<li class="list-group-item">Calificar Clientes</li>
						<li class="list-group-item">Calificar Proveedores</li>
						<li class="list-group-item">Busquedas de empresas</li>
						<li class="list-group-item">Seguir 10 empresas</li>
						<li class="list-group-item">Una Licencia</li>
						<li class="list-group-item">5 Productos o Marcas</li>
						<li class="list-group-item">App Móvil</li>
					</ul>
					
				</div>
				<div class="card-footter text-center">
					<button (click)="addcart('1')" class="btn btn-primary">Agregar al Carrito</button>
				</div>

			</div>
		</div>
		<div class="col-12 col-md-4 col-xl-4 col-lg-4">
			<div class="card">
				<div class="card-body ">
					<div class="card-precio text-white p-t-20 p-b-20 bg-orange text-center">
						PYMES
					</div>
					<ul class="list-group">
						<li class="list-group-item">Perfil en Admyo</li>
						<li class="list-group-item">Calificar Clientes</li>
						<li class="list-group-item">Calificar Proveedores</li>
						<li class="list-group-item">Seguir empresas Ilimitado</li>
						<li class="list-group-item">Busquedas de empresas *premium</li>
						<li class="list-group-item">5 Licencias</li>
						<li class="list-group-item">10 Productos o Marcas</li>
						<li class="list-group-item">App Móvil</li>
						<li class="list-group-item">Api Web</li>
						<li class="list-group-item">Costo $200.00 MXN, licencia adicional $50.00 </li>
					</ul>
				</div>
				<div class="card-footter text-center">
					<button (click)="addcart('2')" class="btn btn-primary">Agregar al Carrito</button>
				</div>
				
			</div>
		</div>
		<div class="col-12 col-md-4 col-xl-4 col-lg-4">
			<div class="card">
				<div class="card-body">
					<div class="card-precio text-white p-t-20 p-b-20 bg-danger text-center">
						EMPRESARIAL
					</div>
					<ul class="list-group">
						<li class="list-group-item">Perfil en Admyo</li>
						<li class="list-group-item">Calificar Clientes</li>
						<li class="list-group-item">Calificar Proveedores</li>
						<li class="list-group-item">Seguir empresas ilimitado</li>
						<li class="list-group-item">Busquedas de empresas *premium</li>
						<li class="list-group-item">30 Licencias Admyo</li>	
						<li class="list-group-item">Productos o Marcas Ilimitado</li>
						<li class="list-group-item">App Móvil</li>
						<li class="list-group-item">Api Web</li>
						<li class="list-group-item">Costo $1000.00 MXN, licencia adicional $50.00</li>
					</ul>
				</div>
				<div class="card-footter text-center">
					<button (click)="addcart('3')" class="btn btn-primary">Agregar al Carrito</button>
				</div>
			</div>
		</div>
		
		<div class="col-12 m-t-40">
			<small class="text-white">Premium.-Resultados de perfil de empresa con reputación cliente/proveedor</small>
		</div>
	</div>
</div>