<div class="alert {{alertclass}} fixed-top
w-50 mx-auto" *ngIf='alertbol' role="alert">
  <h4 class="alert-heading">{{alerttitle}}</h4>
  {{alerttext}}
</div>
<div class="container-fluid bg-gris1 p-t-40 p-b-40">
	<div class="container">
		<div class="row">
			<div class="col-3">
				<div class="card">
					<div class="card-header bg-primary text-uppercase text-monse ">
						<h5>Giros</h5> 
					</div>
					<div class="card-body lista">
						<ul class="list-group d-block w-100">

						  <li class="list-group-item" *ngFor="let giro of girost">
						  	<div class="row">
						  		<div class="col-12" >
						  			<h5 class="text-gris3">{{(giro.giron1.length>25)? (giro.giron1 | slice:0:25)+'...':giro.giron1}}</h5>
						  			<h6 class="text-muted">{{(giro.giron2.length>25)? (giro.giron2 | slice:0:25)+'...':giro.giron2}}</h6>
						  			<small class="text-muted">{{(giro.giron3.length>25)? (giro.giron3 | slice:0:25)+'...':giro.giron3}}</small>
						  			<div class="row d-flex align-items-center m-t-10">
						  				<div class="col-6">
						  					<span (click)="deletegiro(giro.IDGE)" class="text-primary"><i class="fas fa-minus-circle"></i></span>
						  				</div>
						  				<div class="col-6 text-right" *ngIf="giro.Principal==='0'">
						  					<button  (click)="principal(giro.IDGE)" class="btn btn-primary text-white">Principal</button>
						  				</div>
						  			</div>
						  		</div>
						  	</div>
						  </li>
						 
						</ul>
					</div>
					<div class="card-footer text-center">
						<button (click)="openalert(giros)" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar</button>
					</div>
				</div>
				<div class="card m-t-30">
					<div class="card-header bg-primary text-uppercase text-monse ">
						<h5>Marcas</h5> 
					</div>
					<div class="card-body lista">
						<ul class="list-group d-block w-100">
						  <li *ngFor="let marca of marcas" class="list-group-item">
						  	<div class="row">
						  		
						  			<div class="col-3 text-center">

						  				<img *ngIf="marca.logo==''" class="img-fluid rounded-circle img-marcas" src="src/assets/img/foto-no-disponible.jpg" alt="">
						  				<img *ngIf="marca.logo!==''" class="img-fluid rounded-circle img-marcas" src="{{rutaserver}}/assets/img/logosmarcas/{{marca.logo}}" alt="">
							  		</div>
							  		<div class="col-9 ">
							  			<h5 class="text-gris3">{{marca.Marca}}</h5>
						  			</div>
						  		
						  	</div>
						  	<div class="row d-flex align-items-center m-t-10">
						  				<div class="col-6">
						  					<button (click)="deletemarca(marca.IDMarca)" class="btn btn-link text-primary"><i class="fas fa-minus-circle"></i></button>
						  					
						  				</div>
						  				<div class="col-6 text-right">
						  					<button (click)="editmarca(marca.IDMarca,alertmarcas)"  class="btn btn-link text-primary"><i class="fas fa-pencil-alt"></i></button>
						  				</div>
						  	</div>
						  </li>						 
						</ul>
					</div>
					<div class="card-footer text-center">
						<button (click)="openalert(alertmarcas)" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar</button>
					</div>
				</div>
				<app-cdatostelefonos></app-cdatostelefonos>
			</div>
			<div class="col-9">
				<div class="card  contenedor">
					<div class="card-header bg-primary text-uppercase text-monse">
						<h5>Datos de mi empresa</h5> 
					</div>
					<div class="card-body">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="banner container-fluid" [ngStyle]="{'background-image':banner}">

										<div class="row d-flex align-items-end">
											<div class="col-12 text-right">
												<div (click)="filebanner.click()" class="btn btn-primary">Cargar Banner</div>
												<input accept="image/gif, image/jpeg, image/png" class="d-none" #filebanner type="file" (change)="previewbanner(filebanner.files)">
											</div>
										</div>

									</div>
									<div class="logo" [ngStyle]="{'background-image':logo}">
										<div class="container-fluid">
											<div class="row d-flex align-items-end">
												<div class="col-12 text-right">
													<div (click)="filelogo.click()" class="btn btn-link"><i class="fas fa-pencil-alt"></i></div>
													<input accept="image/gif, image/jpeg, image/png" class="d-none" #filelogo type="file" (change)="previewlogo(filelogo.files)">
												</div>
											</div>
										</div>

									</div>
								</div>
								<div class="form-group col-12 m-t-30">
									<label for=""  class="text-roboto text-gris3">Razón Social</label>
									<input type="text" [(ngModel)]="datosempresa.Razon_Social" class="form-control" name="Razon_Social" placeholder="Razón Social">

								</div>
								<div class="form-group col-6">
									<label for="" class=" text-roboto text-gris3">Nombre Comercial</label>
									<input type="text" [(ngModel)]="datosempresa.Nombre_Comer" class="form-control" name="Nombre_Comercial"  placeholder="Nombre Comercial">

								</div>
								<div class="form-group col-6">
									<label for="" class="text-roboto text-gris3">R.F.C.(Registro Federal del Contribuyente)</label>
									<input type="text" [(ngModel)]="datosempresa.RFC" class="form-control" id="" aria-describedby="emailHelp" placeholder="R.F.C.">

								</div>
								<div class="form-group col-6">
									<label for="" class="text-roboto text-gris3">Tipo de Empresa</label>
									<select [(ngModel)]="datosempresa.TipoEmpresa" class="form-control">
										<option value="">Selecciona</option>
										<option *ngFor='let tipo of tipoempresas' value="{{tipo.Tipo}}">{{tipo.Tipo}}</option>
									</select>

								</div>
								<div class="form-group col-6">
									<label for="" class="text-roboto text-gris3">No. empleados</label>
									<select [(ngModel)]="datosempresa.NoEmpleados" class="form-control">
										<option value="">Selecciona</option>
										<option *ngFor='let tipo of noempleados' value="{{tipo.Num}}">{{tipo.Num}}</option>
									</select>
								</div>
								<div class="form-group col-6">
									<label for="" class="text-roboto text-gris3">Facturación Anual</label>
									<select [(ngModel)]="datosempresa.FacAnual" class="form-control">
										<option value="">Selecciona</option>
										<option *ngFor='let tipo of factanual' value="{{tipo.FacAnual}}">{{tipo.FacAnual}}</option>
									</select>
								</div>
								<div class="form-group col-6">
									<label for="" class="text-roboto text-gris3">Días de Pago de su plan /Mes</label>
									<input readonly type="text" class="form-control" [(ngModel)]="datosempresa.DiasPago" placeholder="0"> 
								</div>
								<div class="form-group col-12">
									<label for="" class="text-roboto text-gris3">Descripción de la Empresa</label>
									<textarea [(ngModel)]="datosempresa.Perfil" cols="10" rows="10" class="form-control"  ></textarea> 
								</div>
								<div class="col-12 text-center">
									<button (click)="updateempresa()" class="btn btn-primary"><i class="fas fa-save"></i> Guardar Cambios</button>
								</div> 

							</div>
						</div>
					</div>
				</div>
			
			<app-cdatoscontacto></app-cdatoscontacto>
			</div>
		</div>
		
	</div>
</div>
<div *ngIf="sniper" class="sniper d-flex justify-content-center align-items-center">
	<div class="spinner-border text-light" role="status">
	  <span class="sr-only">Loading...</span>
	</div>
</div>

<ng-template #giros let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Registrar Giro</h4>
    <button type="button" class="close" aria-label="Close" (click)="closemodel(giros)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="container">
      	<div class="form-group row">
		    <label class="col-sm-12 col-form-label">Giro</label>
		    <div class="col-sm-12">
		    	<select [(ngModel)]="addgiro.sector" name="sector" #sector="ngModel" (change)="getsubsector()" class="form-control" >
		    		<option value="">Selecciona</option>
		    		<option  class="text-muted" *ngFor="let giro of allgiros" value="{{giro.IDNivel1}}">{{giro.Giro}}</option>
		    	</select>
		    </div>
		</div>
		<div class="form-group row">
		    <label  class="col-sm-12 col-form-label">SubGiro</label>
		    <div  class="col-sm-12">
		      <select (change)="getrama()" [(ngModel)]="addgiro.subgiro" name="subgiro" #subgiro="ngModel" class="form-control" >
		    		<option selected value="">Selecciona</option>
		    		<option  class="text-muted" *ngFor="let giro of allsubgiros" value="{{giro.IDNivel2}}">{{giro.Giro}}</option>
		    	</select>
		    </div>
		</div>
		<div class="form-group row">
		    <label  class="col-sm-12 col-form-label">Rama</label>
		    <div class="col-sm-12">
		      <select [(ngModel)]="addgiro.rama" name="rama" #rama="ngModel" class="form-control" >
		    		<option value="">Selecciona</option>
		    		<option  class="text-muted" *ngFor="let giro of allramas" value="{{giro.IDGiro3}}">{{giro.Giro}}</option>
		    	</select>
		    </div>
		</div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closemodel(giros)">Cerrar</button>
    <button type="button" (click)="reggiro()" class="btn btn-primary" >Guardar</button>
  </div>
</ng-template>
<ng-template #alertmarcas let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modelmarca.IDMarca?'Editar Marca':'Registrar Marca'}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closemodel(alertmarcas)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="container">
      	<div class="form-group row">
		    <label class="col-sm-12 col-form-label">Marca</label>
		    <div class="col-sm-12">
		    	<input class="form-control" [(ngModel)]="modelmarca.marca" name="marca" #marca="ngModel" type="text">
		    </div>
		</div>
		<div class="row">
			<div class="col-5 centrar text-center logomarcaalert">
					<img src="{{logitomarca}}" class="img-fluid" alt="">
			</div>
			<div class="col-12 m-t-30 text-center">
				<button (click)="logmarca.click()" class="btn btn-primary">Cargar Imagen</button>
				<input (change)="preview(logmarca.files)" accept="image/gif, image/jpeg, image/png" type="file" class="d-none" #logmarca>
			</div>
			<div class="col-12 text-center">
				<small class="text-muted m-t-15">Archivos permitidos JPG,PNG,SVG no mayor a 1M.</small>
			</div>
		</div>
		
		
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closemodel(alertmarcas)">Cerrar</button>
    <button type="button" (click)="addmarca()" class="btn btn-primary" >Guardar</button>
  </div>
</ng-template>

