


<div class="alert {{alertclass}} fixed-top
w-50 mx-auto" *ngIf='alertbol' role="alert">
  <h4 class="alert-heading">{{alerttitle}}</h4>
  {{alerttext}}
</div>
<div class="container-fluid  p-t-40 p-b-40">
	<div class="container">
		<div class="row">
			<div class="col-12 m-t-30 m-b-30">
					<h2 class="text-muted text-uppercase text-monse ">
							Datos de mi Empresa
					</h2>
			</div>
			<div class="col-12 col-md-3 col-xl-3 col-lg-3">
				
				<div class="row">
					<div class="col-12 text-uppercase text-monse text-muted">
						<h5>Marcas</h5> 
					</div>
				</div>
				<mat-card>
					<mat-list role="list">
						<mat-list-item *ngFor="let marca of marcas" class="m-b-10" role="listitem">
							<img *ngIf="marca.logo==''" matListAvatar src="src/assets/img/foto-no-disponible.jpg" >
							<img  *ngIf="marca.logo!==''" matListAvatar src="{{rutaserver}}/assets/img/logosmarcas/{{marca.logo}}" >
							<h3 matLine class="text-gris3">{{marca.Marca}}</h3>
							<div matLine class="row d-flex align-items-center">
								<div class="col-6">
									<button (click)="deletemarca(marca.IDMarca)" class="btn btn-link text-primary"><i class="fas fa-minus-circle"></i></button>		
								</div>
								<div class="col-6 text-right">
									<button (click)="editmarca(marca.IDMarca,alertmarcas)"  class="btn btn-link text-primary"><i class="fas fa-pencil-alt"></i></button>
								</div>
							</div>
						</mat-list-item>
						
					</mat-list>
					<div class="w-100 text-center">
							<button (click)="openalert(alertmarcas)" class="btn btn-secondary text-center"><i class="material-icons">add</i></button>
					</div>
					
				</mat-card>
				<app-cdatostelefonos></app-cdatostelefonos>
			</div>
			<div class="col-12 col-md-9 col-xl-9 col-lg-9">
				<div class="text-muted text-uppercase text-monse">
					<h5>Datos Generales</h5> 
				</div>
				<mat-card class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="banner container-fluid" [ngStyle]="{'background-image':banner}">
								<div class="row d-flex align-items-end">
									<div class="col-12 text-right">
										<div (click)="filebanner.click()" class="btn btn-primary">Cargar Banner</div>
										<input accept="image/gif, image/jpeg, image/png" class="d-none" #filebanner type="file" (change)="previewbanner(filebanner.files)">
									</div>
								</div>
							</div>
							<div (click)="filelogo.click()" class="logo" [ngStyle]="{'background-image':logo}">
								
								<div class="container-fluid">
									<div class="row d-flex align-items-end">
										<div class="col-12 text-right">
											<input accept="image/gif, image/jpeg, image/png" class="d-none" #filelogo type="file" (change)="previewlogo(filelogo.files)">
										</div>
									</div>
								</div>
							</div>
						</div>
								<div class="form-group col-12 m-t-30">
									<label for=""  class="text-roboto text-gris3">Razón Social</label>
									<input type="text" [(ngModel)]="datosempresa.Razon_Social" class="form-control" name="Razon_Social" placeholder="Razón Social">

								</div>
								<div class="form-group col-6">
									<label for="" class=" text-roboto text-gris3">Nombre Comercial</label>
									<input type="text" [(ngModel)]="datosempresa.Nombre_Comer" class="form-control" name="Nombre_Comercial"  placeholder="Nombre Comercial">

								</div>
								<div class="form-group col-6">
									<label for="" class="text-roboto text-gris3">R.F.C.(Registro Federal del Contribuyente)</label>
									<input type="text" [(ngModel)]="datosempresa.RFC" class="form-control" id="" aria-describedby="emailHelp" placeholder="R.F.C.">

								</div>
								<div class="form-group col-6">
									<label for="" class="text-roboto text-gris3">Tipo de Empresa</label>
									<select [(ngModel)]="datosempresa.TipoEmpresa" class="form-control">
										<option value="">Selecciona</option>
										<option *ngFor='let tipo of tipoempresas' value="{{tipo.Tipo}}">{{tipo.Tipo}}</option>
									</select>
								</div>
								<div class="form-group col-6">
									<label for="" class="text-roboto text-gris3">No. empleados</label>
									<select [(ngModel)]="datosempresa.NoEmpleados" class="form-control">
										<option value="">Selecciona</option>
										<option *ngFor='let tipo of noempleados' value="{{tipo.Num}}">{{tipo.Num}}</option>
									</select>
								</div>
								<div class="form-group col-6">
									<label for="" class="text-roboto text-gris3">Facturación Anual</label>
									<select [(ngModel)]="datosempresa.FacAnual" class="form-control">
										<option value="">Selecciona</option>
										<option *ngFor='let tipo of factanual' value="{{tipo.FacAnual}}">{{tipo.FacAnual}}</option>
									</select>
								</div>
								<div class="form-group col-6">
									<label for="" class="text-roboto text-gris3">Días de Pago</label>
									<input [(ngModel)]="datosempresa.DiasPagoEmpresa" type="text" class="form-control"  placeholder="0"> 
								</div>
								
								<div class="form-group col-12">
									<label for="" class="text-roboto text-gris3">Descripción de la Empresa</label>
									<textarea [(ngModel)]="datosempresa.Perfil" cols="10" rows="10" class="form-control"  ></textarea> 
								</div>
								<div class="col-12 text-center">
									<button (click)="updateempresa()" class="btn btn-outline-primary"> Guardar Cambios</button>
								</div> 
					</div>
				</mat-card>
			<app-cdatoscontacto></app-cdatoscontacto>
			</div>
		</div>
		
	</div>
</div>
<div *ngIf="sniper" class="sniper d-flex justify-content-center align-items-center">
	<div class="spinner-border text-light" role="status">
	  <span class="sr-only">Loading...</span>
	</div>
</div>

<ng-template #giros let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Registrar Giro</h4>
    <button type="button" class="close" aria-label="Close" (click)="closemodel(giros)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="container">
      	<div class="form-group row">
		    <label class="col-sm-12 col-form-label">Giro</label>
		    <div class="col-sm-12">
		    	<select [(ngModel)]="addgiro.sector" name="sector" #sector="ngModel" (change)="getsubsector()" class="form-control" >
		    		<option value="">Selecciona</option>
		    		<option  class="text-muted" *ngFor="let giro of allgiros" value="{{giro.IDNivel1}}">{{giro.Giro}}</option>
		    	</select>
		    </div>
		</div>
		<div class="form-group row">
		    <label  class="col-sm-12 col-form-label">SubGiro</label>
		    <div  class="col-sm-12">
		      <select (change)="getrama()" [(ngModel)]="addgiro.subgiro" name="subgiro" #subgiro="ngModel" class="form-control" >
		    		<option selected value="">Selecciona</option>
		    		<option  class="text-muted" *ngFor="let giro of allsubgiros" value="{{giro.IDNivel2}}">{{giro.Giro}}</option>
		    	</select>
		    </div>
		</div>
		<div class="form-group row">
		    <label  class="col-sm-12 col-form-label">Rama</label>
		    <div class="col-sm-12">
		      <select [(ngModel)]="addgiro.rama" name="rama" #rama="ngModel" class="form-control" >
		    		<option value="">Selecciona</option>
		    		<option  class="text-muted" *ngFor="let giro of allramas" value="{{giro.IDGiro3}}">{{giro.Giro}}</option>
		    	</select>
		    </div>
		</div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closemodel(giros)">Cerrar</button>
    <button type="button" (click)="reggiro()" class="btn btn-primary" >Guardar</button>
  </div>
</ng-template>
<ng-template #alertmarcas let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modelmarca.IDMarca?'Editar Marca':'Registrar Marca'}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closemodel(alertmarcas)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="container">
      	<div class="form-group row">
			<mat-form-field class="col-12">
				<input matInput #marca="ngModel" [(ngModel)]="modelmarca.marca" placeholder="Marca" value="">
			</mat-form-field>
		   
		</div>
		<div class="row">
			<div class="col-5 centrar text-center logomarcaalert">
					<img src="{{logitomarca}}" class="img-fluid" alt="">
			</div>
			<div class="col-12 m-t-30 text-center">
				<button (click)="logmarca.click()" class="btn btn-outline-primary">Cargar Imagen</button>
				<input (change)="preview(logmarca.files)" accept="image/gif, image/jpeg, image/png" type="file" class="d-none" #logmarca>
			</div>
			<div class="col-12 text-center m-t-20">
				<small class="text-muted m-t-15">Archivos permitidos JPG,PNG,SVG no mayor a 1M.</small>
			</div>
		</div>
		
		
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="closemodel(alertmarcas)">Cerrar</button>
    <button type="button" (click)="addmarca()" class="btn btn-succes" >Guardar</button>
  </div>
</ng-template>


