<app-menua></app-menua>
<app-searchb></app-searchb>
<div class="container-fluid bg-contsl1">
	<div class="row d-flex justify-content-center align-items-center">
		<div class="col-12 col-md-6 col-lg-6 col-xl-6 text-center">
			<span class="text-white text-prosto text-uppercase titulos">CONTACTA CON</span>
			<br>
			<span class="text-secondary text-prosto text-uppercase titulos">NOSOTROS</span>
		</div>
		<div class="col-6">
			<img src="src/assets/img/slider/imagen-banner-4.png"  class="img-fluid img-acompa" alt="">
		</div>
	</div>
	
</div>
<div class="continer-fluid">
	<div class="container">
		<div class="row d-flex justify-content-center align-items-center">
			
			<div class="col-12">
				<form class="row">
					<div class="form-group col-12 ">
					    <label for="exampleInputEmail1 text-open-sans">Nombre</label>
					    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="">
					 </div>
					 <div class="form-group col-12 col-md-6 col-xl-6 col-lg-6 ">
					    <label for="exampleInputEmail1 text-open-sans">Teléfono</label>
					    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="">
					 </div>
					 <div class="form-group col-12 col-md-6 col-xl-6 col-lg-6">
					    <label for="exampleInputEmail1  text-open-sans">Empresa:</label>
					    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="">
					 </div>
					  <div class="form-group col-12 col-md-6 col-xl-6 col-lg-6">
					    <label for="exampleInputEmail1 text-open-sans">Correo Elctrónico:</label>
					    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="">
					 </div>
					  <div class="form-group col-12 col-md-6 col-xl-6 col-lg-6">
					    <label for="exampleInputEmail1 text-open-sans">Asunto:</label>
					    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="">
					 </div>
					  <div class="form-group col-12">
					    <label for="exampleInputEmail1 text-open-sans">Mensaje:</label>
					    <textarea cols="5" rows="5" class="form-control"  placeholder=""></textarea>
					 </div>
					 <div class="col-12 text-center">
					 	 <button class="btn btn-primary">Enviar</button>
					 </div>
					
				</form>
			</div>
		</div>
	</div>
</div>
<app-fottera></app-fottera>