<div class="container-fluid  bg-gris1 p-t-40 p-b-40">
	<div class="container-fluid">
		<div class="row">
			<div class="col-4">
				<div class="card  contenedor m-t-40">
					<div class="card-header bg-primary text-uppercase text-monse">
						<h5>Filtros de Búsqueda</h5> 
					</div>
				</div>
			</div>
			<div class="col-8">
				<div class="card  contenedor m-t-40">
					<div class="card-header bg-primary text-uppercase text-monse">
						<h5>Resultados de Búsqueda</h5> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>