<div class="container">
	<div class="row">
		<div class="col-12 text-uppercase texto_black_titulo text-monse m-t-40 m-b-30">
			<h2>Catálogo de Asociaciones</h2> 
		</div>
		<mat-form-field class="col-9">
			<input (keyup)="busqueda()" [(ngModel)]="palabra" matInput class="text-dark" placeholder="Buscar Asociaciones/Camaras" value="">
		</mat-form-field>
		<div class="col-3 text-right">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button type="button" (click)="openalert(alertcamaras)" class="btn btn-secondary"><i class="material-icons">add</i></button>
				</div>
		</div>
		<div class="col-3 m-t-30" *ngFor="let asociacion of asociaciones | paginate: {itemsPerPage: 20, currentPage: pageActual}; index as i">
			<mat-card class="w-100 card-avatar-camara">
					<div class="row">
							<div class="col-12 text-right">
								<button mat-icon-button [matMenuTriggerFor]="menu">
										<mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
									<button  (click)="delete(asociacion.IDAsocia)" mat-menu-item>
										<mat-icon>delete</mat-icon>
										<span>Eliminar</span>
									</button>
								</mat-menu>
							</div>
					</div>
					<div class="row text-usuario text-muted">
							
							<div class="col-12 text-center">
								<img src="{{(asociacion.Imagen===''|| asociacion.Imagen===null)?'/assets/img/avatar1.png':urlserver + '/assets/img/asociaciones/' + asociacion.Imagen}}"  mat-card-avatar  class="avatar-card">
							</div>
							<div class="col-12 m-t-30 text-center">
								<h6 >{{asociacion.Nombre}}</h6>
							</div>
							<div class="col-12 text-center m-t-20">
									<a target="_blanck" ng-href="{{asociacion.Web}">Sitio Web: {{asociacion.Web}}</a>
							</div>
							
							<div class="btn-group text-center d-flex col-12 m-t-20" role="group" aria-label="Basic example">
									<button (click)="delete(asociacion.IDAsocia)" type="button" class="btn btn-outline-danger mr-3">Eliminar</button>
								</div>
					</div>
			</mat-card>
			
		</div>
		<div class="col-12 text-center m-t-40">
				<pagination-controls class="my-pagination" (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
		</div>
	</div>
</div>





<div *ngIf="sniper" class="sniper d-flex justify-content-center align-items-center">
	<div class="spinner-border text-light" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>
<ngb-alert *ngIf="staticAlertClosed" type="danger" style="position: fixed;z-index: 1000;top: 0;width: 100%;margin: 0 auto;" (click)="close(alert)">{{ alertterror }}</ngb-alert>
<ngb-alert *ngIf="successAlertClosed" type="success" style="position: fixed;z-index: 1000;top: 0;width: 100%;margin: 0 auto;" (click)="close(alert)">{{ alertsuccess }}</ngb-alert>

<ng-template #alertcamaras let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{modelcamara.IDAsocia?'Editar Asociación':'Registrar Asociación'}}</h4>
		<button type="button" class="close" aria-label="Close" (click)="closemodel(alertcamaras)">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="container">
			<div class="row">
				<div class="col-4">
						<div class="row">
								<div class="col-12 text-center m-t-30">
									<img src="{{logo_avatar}}"  mat-card-avatar  class="avatar-card">
								</div>
								<div class="col-12 text-center m-t-20">
									<button type="button" (click)="img_avatar.click()" class="btn btn-outline-primary">Cambiar Avatar</button>
									<input type="file"  (change)="preview(img_avatar.files)" accept="image/gif, image/jpeg, image/png" #img_avatar class="d-none">
								</div>
				  
						</div>
				</div>
				<div class="col-8">
					<form class="row" [formGroup]="grupformgroup">
						<mat-form-field class="col-12 m-t-30">
							<input  type="text"  placeholder="Nombre" aria-label="mycontrol" matInput  formControlName="mycontrol"   [matAutocomplete]="nombre">
								<mat-autocomplete (optionSelected)='getPosts($event.option.value)' #nombre="matAutocomplete" [displayWith]="displayFn">
									<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
												{{option.Nombre}}
									 </mat-option>
								</mat-autocomplete>
						</mat-form-field>
						<mat-form-field class="col-12">
								<input  type="text"  placeholder="Siglas" aria-label="mysiglas" matInput  formControlName="mysiglas"   [matAutocomplete]="siglas">
								<mat-autocomplete (optionSelected)='getPosts2($event.option.value)' #siglas="matAutocomplete" [displayWith]="displaysiglas">
									<mat-option *ngFor="let option of filtrosiglas | async" [value]="option">
												{{option.Siglas}}
									 </mat-option>
								</mat-autocomplete>
						</mat-form-field>
						<mat-form-field class="col-12">
							<input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="modelcamara.Web" placeholder="Pagina Web" >
						</mat-form-field>
						
					</form>
				</div>
				<mat-form-field class="col-4">
						<input matInput [(ngModel)]="modelcamara.Direccion" placeholder="Dirección" >
				</mat-form-field>
				<mat-form-field class="col-4">
						<input matInput [(ngModel)]="modelcamara.Colonia" placeholder="Colonia" >
				</mat-form-field>
				<mat-form-field class="col-4">
						<input matInput [(ngModel)]="modelcamara.Municipio" placeholder="Municipio" >
				</mat-form-field>
				<mat-form-field class="col-4">
						<input matInput [(ngModel)]="modelcamara.Estado" placeholder="Estado" >
				</mat-form-field>
				<mat-form-field class="col-4">
						<input matInput [(ngModel)]="modelcamara.CP" placeholder="Código Postal" >
				</mat-form-field>
				<mat-form-field class="col-4">
						<input matInput [(ngModel)]="modelcamara.Telefono" placeholder="Teléfono" >
				</mat-form-field>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-danger" (click)="closemodel(alertcamaras)">Cerrar</button>
		<button  type="button" (click)="deci(alertcamaras)" class="btn btn-succes" >Guardar</button>
	</div>
</ng-template>
