@import '../../../styles';
.card-avatar-camara{
	position: relative;
	min-height: 420px;
  }
.cont-img{
	position: relative;
	width: 200px;
	height: 200px;
	margin:0 auto;
	
}

.btn-light{
	color:get-map($colors,primary) !important;
}
::ng-deep .cdk-overlay-container{
	z-index: 1070 !important;
}
.avatar-card{
	width: 120px;
	height: 120px;
} 