@import '../../../styles';

.cont-login{
	& .cont-logo{
		font-size: 5rem;
	    width: 100%;
	    height: auto;
	    background: transparent;
	    border: 2px solid #fff;
	    border-radius: 50%;
	    padding: 1rem;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
	& input{
		border-color:#fff;
	}
}
.close{
	color:#fff;

}
/deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background,
       .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background
{
  background-color:map-get($colors , primary ) !important;
  
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: map-get($colors , blanco ) //black
  }

