<div class="container menu-reg">
	
	<div class="row m-t-40 m-b-40">
		<div class="ray"></div>
		<div class="col-3 d-flex justify-content-start">
			<a routerLink="/preciosadmyo"><div class="paso active">1</div></a>
		</div>
		<div class="col-3 d-flex justify-content-center">
			<a routerLink="/preciosqval"><div class="paso ">2</div></a>
		</div>
		<div class="col-3 d-flex justify-content-center"><a routerLink="/datosregistro"><div class="paso ">3</div></a></div>
		<div class="col-3 d-flex justify-content-end"><a routerLink="/confirmarcompra"><div class="paso ">4</div></a></div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<mat-tab-group>
				<mat-tab label="Paquetes Admyo">
					<div class="container-fluid">
						<div class="row">
							<div class="col-3">
								<div class="row">
									<div class="card col-12 card-precios m-t-30 active">
										<span class="titulo">Gratis</span>
										<br>
										<span class="precio">$0.00</span>
									</div>
									<div class="card col-12 card-precios m-t-30">
										<span class="titulo">Micro Empresas</span>
										<br>
										<span class="precio">$200.00 Mensuales</span>
									</div>
									<div class="card col-12 card-precios m-t-30">
										<span class="titulo">Micro Empresas</span>
										<br>
										<span class="precio">$166.67 Mensual (Pago Anual)</span>
									</div>
									<div class="card col-12 card-precios m-t-30">
											<span class="titulo">Empresarial</span>
											<br>
											<span class="precio">$1000.00 Mensual </span>
										</div>
										<div class="card col-12 card-precios m-t-30">
												<span class="titulo">Empresarial</span>
												<br>
												<span class="precio">$833.33 Mensual (Pago Anual)</span>
											</div>
								</div>
							</div>
							<div class="col-9">
								<div class="row">
									<div class="col-12">
										<mat-list role="list">
											<mat-list-item role="listitem">Desarrollo de perfil empresarial</mat-list-item>
											<mat-list-item role="listitem">Calificar empresas</mat-list-item>
											<mat-list-item role="listitem">2 Usuarios</mat-list-item>
											<mat-list-item role="listitem">API Web</mat-list-item>
											<mat-list-item role="listitem">Plataforma Móvil</mat-list-item>
											<mat-list-item role="listitem">Certificaciones de calidad ilimitados</mat-list-item>
											<mat-list-item role="listitem">Socio asociaciones ilimitadas</mat-list-item>
											<mat-list-item role="listitem">Alerta de desempeño de cientes y proveedores</mat-list-item>
											<mat-list-item role="listitem">Alertas de visitas a tu perfil</mat-list-item>
											<mat-list-item role="listitem">2 productos y servicios</mat-list-item>
											<mat-list-item role="listitem">2 marcas</mat-list-item>
											<mat-list-item role="listitem">Seguimiento de 3 Empresas</mat-list-item>
										</mat-list>
									</div>
									<div class="col-12">
										<mat-list role="list">
											<mat-list-item role="listitem">Desarrollo de perfil empresarial</mat-list-item>
											<mat-list-item role="listitem">Calificar empresas</mat-list-item>
											<mat-list-item role="listitem">Usuarios ilimitados</mat-list-item>
											<mat-list-item role="listitem">API Web</mat-list-item>
											<mat-list-item role="listitem">Plataforma Móvil</mat-list-item>
											<mat-list-item role="listitem">Certificaciones de calidad ilimitados</mat-list-item>
											<mat-list-item role="listitem">Socio asociaciones ilimitadas</mat-list-item>
											<mat-list-item role="listitem">Detalle de empresas buscadas y seguidas</mat-list-item>
											<mat-list-item role="listitem">Alerta de desempeño de cientes y proveedores</mat-list-item>
											<mat-list-item role="listitem">Alertas de visitas a tu perfil</mat-list-item>
											<mat-list-item role="listitem">Productos y servicios ilimitados</mat-list-item>
											<mat-list-item role="listitem">Marcas ilimitadas</mat-list-item>
											<mat-list-item role="listitem">Seguimiento de Empresas ilimitadas</mat-list-item>
										</mat-list>
									</div>
								</div>
							</div>
						</div>
					</div>
				</mat-tab>
				<mat-tab label="Paquetes Qval">
					<div class="container-fluid">
						<div class="row">
							
						</div>
					</div>
				</mat-tab>
			</mat-tab-group>
		</div>
	</div>
</div>