<div class="container menu-reg">
	
	<div class="row m-t-40 m-b-40">
		<div class="ray"></div>
		<div class="col-3 d-flex justify-content-start">
			<a routerLink="/preciosadmyo"><div class="paso active">1</div></a>
		</div>
		<div class="col-3 d-flex justify-content-center">
			<a routerLink="/preciosqval"><div class="paso ">2</div></a>
		</div>
		<div class="col-3 d-flex justify-content-center"><a routerLink="/datosregistro"><div class="paso ">3</div></a></div>
		<div class="col-3 d-flex justify-content-end"><a routerLink="/confirmarcompra"><div class="paso ">4</div></a></div>
	</div>
</div>
<app-precios></app-precios>