<div class="conatainer-fluid bg-primary">
	<div class="container">
		<div class="row">
			<div class="col-12 p-t-20 p-b-20">
				<form (submit)="buscar()">
					<div class="input-group">
						<input type="text" autocomplete="off" [(ngModel)]="palabra" name="palabra" class="form-control" placeholder="Empresa,Nombre Comercial, Descripción, Marca, Producto, RFC" aria-label="Username" aria-describedby="basic-addon1">
						<div class="input-group-prepend">
							<span class="input-group-text bg-white text-primary" id="basic-addon1"><i class="fas fa-search"></i></span>
						</div>
					</div>
				</form>
				
			</div>
		</div>
	</div>
</div>
