<div class="conatainer-fluid bg-primary">
	<div class="container">
		<div class="row">
			<div class="col-12 p-t-20 p-b-20">
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Empresa, Marca, Producto, RFC" aria-label="Username" aria-describedby="basic-addon1">
				  <div class="input-group-prepend">
				    <span class="input-group-text bg-white text-primary" id="basic-addon1"><i class="fas fa-search"></i></span>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>